.Nav-bar {
  background-color: #C8C6C6;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 30px;
  padding: 10px;
}

.Nav-link {
  padding: 10px;
  text-decoration: none;
  font-weight: 120px;
  color: blueviolet;
}
.Pent-logo {
  max-width: 70px;
}
